.allJobs-btn{
    background-color:white !important;
    box-shadow: 0px 0px 5px rgba(0,0,0,.2) !important;
    margin-top:10px !important;
    padding-left:30px !important;
    padding-right:30px !important;
    padding-top:15px !important;
    padding-bottom: 15px !important;
}
h1{
    color:#8C99E7 !important;
}